* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: auto;
    margin: auto;
    position: relative;
}

.bold {
    font-size: 30px;
}

.conten {
    position: absolute;
    top: 563px;
    left: 25px;
    width: 240px;
}

.container .conten b {
    color: #fff;
}

.container .conten p {
    color: rgb(201, 215, 227);
}